/* give your assignment a fun background color */
body {
    animation-name: bodycolor;
    animation-duration: 21s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  @keyframes bodycolor {
    0% {background-color: #E40303;}
    16% {background-color: #FF8C00;}
    33% {background-color: #FFED00;}
    50% {background-color: #008026;}
    67% {background-color: #24408E;}
    84% {background-color: #732982;}
    100% {background-color: #E40303;}
  }